$f14:14px;
$fbk:black;

%fon1 {
    font-size:$f14;
    color:$fbk;
}

$bk-bei:beige;
$bk-ali:aliceblue;
$bk-mis:mistyrose;

#bei{
@extend %fon1;
background-color:$bk-bei;
}

#ali{
@extend %fon1;
background-color:$bk-ali;
}

#mis {

@extend %fon1;
background-color:$bk-mis;
}
