<% include ../par/ase/head %>
<body>
<% include ../par/ase/nav %>

<div class="container-fluid">
<div class="row">
<% include ../par/ase/2side %>

<div class="col-lg-8 col-sm-12" id="ali">

<h4 class="text-center">ログアウトしました</h4>
<br>


<div style="text-align:center;">
<form method="get" action="/shop" align="center">
<button class="btn btn-info" type="submit">ショップに戻る</button>
</form>
</div>

</div><!-- col8 -->
<% include ../par/ase/2side %>
</div>
</div>

</body>


