<!DOCTYPE html>
<html>
<%include par/head %>
<%include par/nav%>

<body>

<div class="container-fluid">
<div class="row">

<div class="col" style="background-color:white">
<div class="card">

<div class="card-header" align="center">

    <%= par %>
</div><!-- head-->
<div class="card-body" align="center" style="background:pink">

<div id="demo" class="carousel slide" data-ride="carousel" 
    data-interval="1000">

  <!-- Indicators -->
  <ul class="carousel-indicators">
        <% for(var i=1;i<4;i++){ %>
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="<%= i %>"></li>
    <% } %>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">

<div class="carousel-item active">
<a href="page-profile"><img src="<%= iarr[0].replace(/public\//,"") %>" alt="img" height="500"></a>
</div>
<% for(var i=1;i<4;i++){ %>
<div class="carousel-item">
<img src="<%= iarr[i].replace(/public\//,"") %>" alt="Chicago" height="500">
</div>
<% } %>

</div>

  <!-- Left and right controls -->
<a class="carousel-control-prev" href="#demo" data-slide="prev">
<span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
<span class="carousel-control-next-icon"></span>
</a>

</div><!-- car-->


  </div><!-- body-->

   </div><!-- card-->

</div><!-- row end -->
</div>
</body>
</html>
