<<<<<<< HEAD
﻿ <nav class="navbar navbar-expand-md bg-light">
<!-- Brand -->
<a class="navbar-brand" href="#">Navbar</a>
<!-- Toggler/collapsibe Button -->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#col">
<span class="navbar-toggler-icon"></span>
</button>
<!-- Navbar links -->
<div class="collapse navbar-collapse" id="col">
<ul class="navbar-nav">
<li class="nav-item"><a class="nav-link" href="/shop">shop</a></li>
<li class="nav-item"><a class="nav-link" href="/shop/cart">cart</a></li>
<li class="nav-item"><a class="nav-link" href="/shop/my">my</a></li>
<li class="nav-item"><a class="nav-link" href="/shop/history">history</a></li>
<li class="nav-item"><a class="nav-link" href="/shop/note/guide">guide</a></li>
</ul>
</div>
</nav> 
=======
﻿<nav class="navbar navbar-inverse navbar-static-top">
<div class="container-fluid">
<div class="navbar-header">

<a class="navbar-brand" href="/">AXELL OFFICIAL SITE</a>
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bar">
<span class="sr-only"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>


<div class="collapse navbar-collapse" id="bar">
<font size="3" color="white">
<ul class="nav navbar-nav navbar-right">
<li class="active"><a href="/shop">HOME</a></li>
<li><a href="/shop">SHOP</a></li>
<li><a href="/shop/cart">CART</a></li>
<li><a href="/shop/my">MY PAGE</a></li>
<li><a href="/shop/history">HISTORY</a></li>
<li><a href="/shop/note/guide">GUIDE</a></li>




</ul>
</div>
</nav>
>>>>>>> e5cdb0a6a6ce82cd054bf28649089706d98bc305

