<div class="row"><br>
<div class="col-md-10">
<h4 align="center"><span class="label label-danger">paidy</span></h4>
</div><!-- col10 -->

<div class="col-md-2"></div>
</div><!-- row -->

<br>
<%if(allpid && allpid.length!==0){%>

<%for(var i=0;i<allpid.length;i++){%>

<div class="row">
<div class="well col-md-10">

<font color="red">
<b><u>&nbsp;&nbsp;&nbsp;&nbsp;購入日時：
<%=allpid[i].date%></u></b><br>
</u>
</font>
<u>&nbsp;&nbsp;&nbsp;&nbsp;注文番号：
<form method="post" action="/shop/qr/dl-<%= allpid[i].pid %>">
<input type="hidden" value="<%=allpid[i].pid%>" name="pid">

<button class="btn btn-warning"><%= allpid[i].pid %></button>
</form>

</u>
</div><!-- col10-->

</div><!-- row-->

<%}%>

<%} else {%> paidyでの購入はありません <%}%>


