<div class="row">
<br>
<%if(!usr){%>
ログインしてください。<br>
<%}else{%>

<%if(seltmp && mer.length!==0){%>
<div class="col-md-8">
<% include ./img %>
<br>

<div  align="center" >

<% include ./clr %><br>
<% include ./bk %>
</div>

</div>

<div class="col-md-4">
<div class="box93">
<% include ./sum %>
</div>

<div class="box93">
<% include ./pay %>
</div>
</div><!-- col4-->


<%}else{%>カートは空です。<%}%>
</div>

<%}%>
</div>

