<div class="row">
<br>
<<<<<<< HEAD
<%if(!usr){%>
ログインしてください。<br>
<%}else{%>

=======
<%if(seltmp) { %>
>>>>>>> e5cdb0a6a6ce82cd054bf28649089706d98bc305
<%if(seltmp && mer.length!==0){%>
<div class="col-md-8">
<% include ./img %>
<br>

<div  align="center" >

<% include ./clr %><br>
<% include ./bk %>
</div>

</div>

<div class="col-md-4">
<div class="box93">
<% include ./sum %>
</div>

<div class="box93">
<% include ./pay %>
<<<<<<< HEAD
</div>
</div><!-- col4-->

=======
>>>>>>> e5cdb0a6a6ce82cd054bf28649089706d98bc305

<%}else{%>カートは空です。<%}%>
<%}else{%>no seltmp<%}%>
</div>

<%}%>
</div>

