<h5 class="box90">【決済手段】</h5><br>

<form action="/shop/paypal/pay" method="get">
<button class="btn btn-primary" type="submit" >PayPal</button>
<h5>&nbsp;（クレジットカード決済）</form></h5>

<form action="/shop/paidy" method="get">
<button class="btn btn-danger" type="submit" >paidy</button>
<h5>&nbsp;（コンビニ、銀行振込決済）</form></h5>

<!-- <form action="/shop/pre/pay" method="get"> -->
<!-- <button class="btn btn-info" type="submit" >受渡し</button> -->
<!-- <h5>&nbsp;（現金）</form></h5> -->
<!-- <br> -->

【カートに関するご注意】<br><br>
・カートに商品を入れただけでは、
在庫は確保されておりません。
注文完了時点」で在庫確保となります。<br>
ご注文の途中で売り切れとなる場合がございますのでお気をつけください。<br>
