<% include ../par/ase/head %>
<body>
<% include ../par/ase/nav %>

<div class="container-fluid">
<div class="row">

<div class="well col-lg-3 col-sm-12" style="color:black">
<% include ../par/usr/left %>
</div>

<div class="well col-lg-9 col-sm-12" style="color:black">


<div class="box90">
受渡し
</div><!-- box90-->
<br>

<% include ./ask %>

</div><!-- col9-->
<% include ../par/ase/2side %>
</div>
</div>

</body>


