<!DOCTYPE html>
<html>
<% include par/ase/head %>
<% include par/ase/nav %>
<body>

<div class="container-fluid">
<div class="row">

    <div class="col-md-2">
<% include par/usr/left %>
</div><!-- col2-->

<div class="col-md-10" >

<div class="box90">購入履歴詳細</div><br><!-- box90-->

<% include par/his/main %>
</div><!-- col10-->


</div><!--row-->
</div><!-- /container -->



</body>

