<!DOCTYPE html>
<html>
<% include par/ase/head %>
<body>

<% include par/ase/nav %>

<div class="container-fluid">
<div class="row">

<% include par/usr/lang %>

<div class="col-md-2" id="bei">
<% include par/usr/left %>
</div>

<div class="col-md-10" id="ali">
<% include par/ite/ite %>
</div>

</div><!--row-->
</div><!-- /container -->


<% include par/ase/foot %>


</body>

