<html>
<% include par/ase/head %>
<% include par/ase/nav %>
<body>

<div class="container-fluid">
<div class="row">

<div class="col-md-2" style="color:black">
<% include par/usr/left %>
</div><!-- col2-->

<div class="col-md-10">
<div class="box90">マイページ</div>
<% if(usr) {%> 
<% include par/my/main %> 

<%}else{%>
<span style="color:black"><br>
ログインしてください。
</span>
<%}%>

</div><!-- col10-->

</div><!-- row -->
</div><!-- cont -->


<% include par/ase/foot %>

</body>
</html>
