<% include par/head %>
<body>
<% include par/nav %>
<div class="container-fluid">
<% if(usr){ %>
<div class="row">

<div class="col-md-2" style="color:black">
<% include par/left %>
</div><!-- col2-->

<div class="col-md-6 col-sm-12"> 
    <p class="box90">&nbsp;注文内容ご確認ページ（Paidy決済ご希望の方用）</p><br>
<div class="row">
    <% include aid/item %><br>

</div>

</div>
<div class="col-md-4 col-sm-12" >
<% include aid/sum %>
<% include aid/aid %>


</div>

</div><!-- row-->

<% } else { %>
please log in.
<% }  %>
</div>

    <% include par/foot %>
